/projects/microej/EWARM/*.dep
/projects/microej/EWARM/*.ewt
/projects/microej/EWARM/Debug/
/projects/microej/EWARM/Release/
/projects/microej/EWARM/Unit_test/
/projects/microej/EWARM/Iperf/
/projects/microej/EWARM/settings/
/projects/microej/platform/
/projects/microej/SW4STM32/.settings/
/projects/microej/SW4STM32/Debug/
/projects/microej/SW4STM32/Release/
/projects/microej/SW4STM32/Unit_test/
/projects/microej/SW4STM32/Iperf/
/projects/microej/cdt_workspace/