/projects/coremark/SW4STM32/.settings/
/projects/coremark/SW4STM32/Debug/
/projects/coremark/SW4STM32/Release/
/projects/coremark/EWARM/*.dep
/projects/coremark/EWARM/*.ewt
/projects/coremark/EWARM/Debug/
/projects/coremark/EWARM/Release/
/projects/coremark/EWARM/settings/
/projects/iperf/SW4STM32/.settings/
/projects/iperf/SW4STM32/Debug/
/projects/iperf/SW4STM32/Release/
/projects/iperf/EWARM/*.dep
/projects/iperf/EWARM/*.ewt
/projects/iperf/EWARM/Debug/
/projects/iperf/EWARM/Release/
/projects/iperf/EWARM/settings/
/projects/microej/EWARM/*.dep
/projects/microej/EWARM/*.ewt
/projects/microej/EWARM/Debug/
/projects/microej/EWARM/Release/
/projects/microej/EWARM/settings/
/projects/microej/platform/
/projects/microej/SW4STM32/.settings/
/projects/microej/SW4STM32/Debug/
/projects/microej/SW4STM32/Release/
